*
{
	background-color:rgb(240,240,240);
	margin:0px;
	box-sizing: border-box;

}
#logo{
	background-color: rgb(182, 140, 134);
	padding:25px;
	padding-left: 300px;
	padding-right: 480px;
	margin: 0px;
	position:fixed;
}
#back input[type=text] {
  padding: 6px;
  margin-top: 0px;
  font-size: 20px;
  border: none;
  width:668px;
  background-color: linen;
}


#back{
	background-image: url("wp1828929.jpg");
	padding: 270px;
	padding-right: 400px;
}

button{
	float: right;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 0px;
	margin-right: 0px;
	background:rgb(182, 140, 134);
	font-size: 20px;
	border: none;
	cursor: pointer;
}

div.imp
{
	padding:0px;
	font-size:30px;
}
.row{
	padding:30px;
}

a.prog
{
	margin:100px;
	padding:10px;
	padding-right: 500px;

	background-color: rgb(182, 140, 134);
	font-size: 2em;

}
a.prog1{
		margin:100px;
	padding:10px;
	padding-right: 500px;

}

.column {
  float: left;
}

.column.leftside {
  width: 75%;
  padding:20px;
}
.column.rightside{
	width:25%;
}

.program
{
	padding:200px;
	background-color: grey;

}

